body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5F9EA0;
}

.container {
    max-width: 90%; /* Adjust maximum width for responsiveness */
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 100%; /* Adjust width to take up full container */
    max-width: 400px; /* Set maximum width */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#weatherInfo {
    text-align: center;
}

.weather-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-card img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.container {
    background-color: #f0f0f0;
}

button {
    background-color: #4CAF50; 
}

button:hover {
    background-color: #45a049;  
}

.weather-card {
    background-color: #ffffff;
}

.weather-card img {
    filter: invert(26%);
}

@media screen and (max-width: 600px) {
    .container {
        margin: 20px auto; 
        padding: 10px;
    }

    input[type="text"] {
        width: calc(100% - 20px); 
        max-width: none; 
    }
}
